.ece-container {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
}

.image{
  display: block;
  margin-bottom: 20px;
  width: 80%; /* Adjust the width as needed */
  height: auto;
}

.ece-container h2 {
  color: #333;
    font-size: 40px;
}


.ece-container p,
.ece-container li {
  font-size: 18px; /* Increase the font size for all headings, paragraphs, and list items */
  line-height: 2; /* Set line height for better readability */
}
.ece-container h3 {
  color: #333;
    font-size: 35px;
}

.ece-container p {
  margin-bottom: 20px;
}

.ece-container ul {
  margin-bottom: 25px;
}

.ece-container li {
  list-style: disc;
}

.ece-container button {
  background-color: #28b457;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ece-container button:hover {
  background-color: #2f8d50f8;
}

.program-form {
  margin-top: 20px;
}

.invalid{
  color: red;
  margin-left: 23px;
  margin-top: -20px;
  /* padding-top: -20px; */
  display: block;
  font-size: inherit;
}
.program-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.program-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.program-form button:hover {
  background-color: #0056b3;
}
.program-form button.delete {
  background-color: #dc3545; /* Red */
}

