/* Base styles for larger screens */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.navbar {
  background-color: #ffffff;
  box-shadow: 2px 1px 5px rgb(187, 190, 190);
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0px;
  font-weight: 700;
  font-size: 130%;
  margin: 0;
  padding: 0;
  margin-left: -16px;
}

.logo {
  padding: 0;
  margin: 0;
  width: 56rem;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  /* justify-content: flex-start; */
  /* align-items:flex-end; */
  gap: 0;
  /* margin-right: 23px; */
  /* margin-left: 0px; */
}

.logo img {
  width: 7rem;
  margin-bottom: " -21px";

  /* width:9% ; */
  /* height: 80px; */
  /* margin-right: 10px; */
  /* margin: 0;
  padding: 0; */
}

.logo span {
  margin-left: -3px;
  background-color: #ffffff;
  /* margin-left: 0%;
  margin-right:10%; */
  color: #108110;
  padding-left: 1.5%;
  font-family: "centaur";
  font-size: 2.6rem;
  font-weight: 600;
}

.nav-links {
  /* padding-left: -20000%; */
  /* padding-right: 0%; */
  font-size: 1.6rem;
  list-style: none;
  width: 40rem;
  display: flex;
  gap: 14px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 25px;
}

/* .nav-links li {
  margin: 0;
} */

.nav-links a {
  font-style: unset;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 70%;
}

.nav-links a:hover {
  color: #66c2ff;
}

/* Media queries for responsiveness */
@media only screen and (min-width: 900px) and (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    text-align: center;
    gap: -20px;
   
  }

  .logo {
    padding-left: 0;
    margin-bottom: 0px;
  }

  .logo img {
    width: 80px;
    height: 80px;
    margin-right: 0;
  }

  .logo span {
    padding-left: 0;
    padding-top: 25px;
    font-size: 1rem;
    margin-right: 0;
    margin-top: 0;
    margin-left: 75px;
    margin-bottom: 0;
  }

  .nav-links {
    gap: 20px;
    padding-left: 0;
  }

  .nav-links a {
    font-size: 60%;
  }
}

.dropdown {
  position: relative;
  z-index: 5;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.sidebar {
  display: none;
  transition: transform 0.3s ease-in-out; /* Adding transition for smooth animation */
}
.sidebar.opened {
  transform: translateX(0); /* Move sidebar into view */
}
.dropdown-content a {
  /* display: inline-block; */
  white-space: nowrap;
  padding: 10px 20px; /* Adjust padding as needed */
  margin: 0px 0px; /* Adjust margin as needed */
  font-size: large;
  display: block;
  /* padding: 10px; */
  text-decoration: none;
  color: #7a4b48;
}

.dropdown-content a:hover {
  background-color: #eec471;
}

@media only screen and (max-width: 1200px) {
  .navbar {
    font-size: 1.1rem; /* Adjust font size for smaller screens */
  }

  .logo span {
    font-size: 2.2rem; /* Adjust font size for smaller screens */
  }

  .nav-links a {
    font-size: 60%; /* Adjust font size for smaller screens */
  }
}

.sidebar {
  display: none;
}

.ham {
  display: none;
}

@media screen and (max-width: 500px) {
  .navbar {
    height: auto;
    margin-left: 2px;
  }
  .logo {
    display: flex;
    align-items: center;
    margin-left: 33rem;
    /* justify-content: center; */
    gap: 20px;
  }

  .logo .home {
    width: 50px;
    height: 50px;
  }

  .logo span {
    margin-top: 15px;
    font-size: 1.35rem;
    margin-left: -15px;
  }

  .upper {
    display: none;
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    height: 100vh;
    width: 250px;
    display: none;
  }

  .sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .close {
    /* display: flex; */
    margin-top: 50px;
    padding-left: 200px;
    /* margin-left: 5px; */
    /* margin-right: 10px; */
  }

  .ham {
    display: flex;
    margin-top: -18px;
    margin-right: 8px;
  }
  .dropdown {
    position: relative;
  }
  .sidebar .dropdown-content {
    position: absolute;
    /* background-color: white;*/
    background-image:  url("https://pehlayakshar.org/wp-content/uploads/new-bg.png"); 
    width: 38=0vh;
    left: -100%;
    font-size: 1.2rem;
    box-shadow: none;
    text-align: left;
    z-index: 999;
  }
  .sidebar {
    background-image:  url("https://pehlayakshar.org/wp-content/uploads/new-bg.png");
    width: 35vh;
    height: 50vh;
    border-top-left-radius: 4vh;
    border-bottom-left-radius: 4vh;
    line-height:100%;
  }
}