.text-center {
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  padding: 20px 100px 40px 100px;
}

.heading-center {
  text-align: center;
  padding: 20px 100px 10px 100px;
}

.heading-left {
  text-align: left;
}

.heading {
  font-weight: 600;
  font-size: 34px;
  text-decoration: underline;
  font-family: "Raleway", sans-serif; /* Use Raleway Regular 400 */
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-group button {
  margin: 0 10px;
  padding: 40px 20px;
  font-size: 22px;
  line-height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-group .button-one {
  /* New class for first button */
  background-color: #007bff; /* Blue */
  color: #ffffff;
}

.button-group .button-two {
  /* New class for second button */
  background-color: #ffc107; /* Orange */
  color: #000000;
}

.button-group .button-three {
  /* New class for third button */
  background-color: #28a745; /* Green */
  color: #ffffff;
}

.button-group button:hover {
  background-color: darken(
    10%,
    /* Darken the base color on hover */ currentColor
  );
}

.dropdown-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dropdown-container button {
  margin: 0px 20px;
  padding: 10px 100px;
  font-size: 22px;
  line-height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}

.dropdown-container .dropButton-one {
  background-color: #007bff; /* Blue */
  color: #ffffff;
}
.dropdown-container .dropButton-two {
  background-color: #ffc107; /* Orange */
  color: #000000;
}
.dropdown-container .dropButton-three {
  background-color: #28a745; /* Green */
  color: #ffffff;
}

.nav-link {
  background: none; /* Remove default button background */
  border: none; /* Remove default button border */
  padding: 5px 10px; /* Adjust padding as needed */
  cursor: pointer; /* Indicate clickable behavior */
  color: inherit; /* Inherit text color from parent element */
  font-weight: bold; /* Optional: Make text bolder */
  text-decoration: none; /* Remove default button underline */
}

.nav-link.active {
  /* Style for active button */
  text-decoration: underline yellow 2px; /* Yellow underline, 2px thick */
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-container .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-container:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
