/* created by shubham patil */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
h1 {
  font-size: 42px;
  line-height: 42px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #6da644;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.content {
  display: flex;
  padding-left: 100px;
  margin-top: 50px;
}
.text-content {
  width: 692px;
  height: 310px;
  padding-top: 10px;
  padding-left: 30px;
  color: #7c7b79;
  font-size: 19px;
}
.video {
  border-width: 3px;
  border-color: #6da644;
  box-shadow: none;
  border-radius: 5px;
}
.about-us {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}
.hrline
{
  padding-left: 39rem;
}