.title_boy {
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
}

.parent_cont {
  /* background-color: aqua; */
  display: flex;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 5%;
  margin-right: 2%;
  margin-left: 2%;
  flex-wrap: wrap;
  justify-content:flex-start;
  
}
.box_con:hover {
    transform: translateY(-5px); /* Added hover effect */
  }
.box_con {
  margin-top: 5%;

  transition: transform 0.3s ease;
  width: 20%;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); */
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 9px;
  /* border: 1px solid; */
}
.text_boy {
  margin: 13%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: grey;
}
.text_boy {
  margin-left: 13%;
}
.title_boy img {
  border-radius: 100px;
  width: 55px;
  height: 55px;
  margin-left: -0%;
}
.title_boy .h {
  margin-left: 0px;
}

.title_boy {
  margin: 15%;
  margin-bottom: 0;
  margin-top: 5%;
}
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .box_con {
      width: 45%; /* Adjust box width for smaller screens */
    }
  }
  
  /* Media query for even smaller screens */
  @media screen and (max-width: 576px) {
    .box_con {
      width: 100%; /* Full width for very small screens */
      margin: 5% 0; /* Adjust margin for smaller screens */
    }
  }