.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.whatsapp-button img {
  width: 60px; /* Adjust size as needed */
  height: 60px; /* Adjust size as needed */
  border-radius: 50%;
  border: 2px solid #25D366; /* Green color for border */
  background-color: #fff; /* White background */
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add shadow */
}

/* Optional: Hover effect */
.whatsapp-button img:hover {
  opacity: 0.8;
}
