@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin:auto;
  box-sizing: border-box;
}
.contact-us-container {
  /* display: flex;
  justify-content: left;
  align-items: top; */
  height: 80vh;
  display: flex  ;
  flex-direction: column;
 justify-content: flex-start;
  align-items:center;
  margin-top: 5px;
}

.contact-us-text {
  max-width: 100%;
  text-align: left;
  padding: 20px 40px 0 40px;
  margin: 0;
}

.contact-us-text a {
  color: lightgreen; /* Change the color to light green */
  text-decoration: none; /* Remove the underline */
}

.contact-us-text p {
  font-size: 22px;
  line-height: 1.5;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
}

.contact-us-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.contact-us-form label {
  margin-bottom: 5px;
}

.contact-us-form input,
.contact-us-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-us-form button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-us-form button:hover {
  background-color: #45a049;
}

.Contact{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  margin-top: 20px;
  padding: 0;

}
.ContactInfo{
  margin-left: 0px;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  width: 30%;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  line-height: 2rem;
}
.address{
  margin-top  : -28px;
}
.detailsCall{
  margin-left: 18px;
}
.reg{
  padding: 16px;
  margin-top: 10px;
  display:flex;
  align-items: center;
}
.details{
  padding: 20px;
}
.LocationIcon {
  font-size: 100px; /* Adjust the size as needed */
  margin:-2%;
  margin-bottom: 115px;
  color: black;
}

.PhoneIcon{
  font-size:24px;
  margin:0;
  margin-left: 12px;
  margin-bottom: 2px;
}
.call{
  display: flex;
  align-items:flex-end;
  margin-bottom: 43px;
  margin-top: 0;

}
.phone{
  padding-left: 1px;
}

.ContactIcons{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-top: 25px;
}
.SocialIconsY{
  margin-left: 50px;
  margin-right: 50px;
}