.single_blog
{
  display: flex;
  height: 30vh;
  width: 70%;
  border-radius: 5px;
  margin-top: 1%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

}
.img_boyaa
{ flex: 1;
  /* background-color: antiquewhite; */
  margin: 0 auto;
  display: flex;
}
.img_boyaa  img
{ 
  width: 150px;
  height: 28vh;
  /* height: auto; */
  /* height: 100px; */

  align-items: center;
}
.text_areaa
{
  width: 75%;
  margin-right: 2%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* Adjust to the desired number of lines */
  line-height: 1.5;
}
.delete_button
{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.add_button
{
  margin-top: 2%;
}



@media screen and (max-width: 400px) {
.blog{
  display: flex;
  justify-content: center;
  align-items: center;

}
  .single_blog{
    width: 90%;
    margin: 25px auto;
  gap: 10px;

  }

  .img_boyaa{
    width: 30px;
    height: auto;
  }

  .text_areaa{
    text-align: center;
    width: 50%;
  }
  
}