.blogs{
  display: flex;
  flex-direction: column;
  /* width: 75%; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.single_blog
{
  display: flex;
  /* justify-content: center; */
  width: 80vw;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.custom-button2{
  margin-top: 20px;
  margin-right: 120px;
  margin-bottom: 30px;
}





.img_boyaa
{ flex: 1;
  /* background-color: antiquewhite; */
  margin: 0 auto;
  display: flex;
}
.img_boyaa  img
{ 
  width: 150px;
  height: 28vh;
  /* height: auto; */
  /* height: 100px; */

  align-items: center;
}
.text_areaa
{
  width: 80%;
  margin-right: 2%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Adjust to the desired number of lines */
  line-height: 1.3;
}
.text_areaa h2 {
  overflow: hidden; /* Hide any content that overflows its container */
  white-space: nowrap; /* Prevent wrapping of text */
  text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
  max-width: 100%; /* Limit the maximum width to 100% of the container */
}
.delete_button
{
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: -40px;
}
.add_button
{
  margin-top: 2%;
}



@media screen and (max-width: 400px) {
.blogs{
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;

}
  .single_blog{
    margin: 25px auto;
  gap: 10px;

  }

  .img_boyaa{
    width: 30px;
    height: auto;
  }
  .img_boyaa img{
    width: 120px;
    height: 120px;
  }
  .text_areaa{
    text-align: center;
    width: 50%;
    font-size: 1rem;

  }

}