.blogs {
    margin: 2% auto; /* Adjust margin for better centering */
    background-color: white;
    width: 80%;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to next line on smaller screens */
}

.img_boyaa {
    width: 20%; 
}

.img_boyaa img {
    width: 100%; /* Make image responsive */
    height: 17rem;
    /* Center image horizontally */
    margin-top: 3%;
    margin-bottom: 3%;
}

.text_areaa {
    width: 100%; /* Take full width on small screens */
    margin: 2% ; /* Adjust top and bottom margin */
    margin-right: 5%;
}

.text_areaa h2 {
    font-size: 24px; /* Adjust font size for responsiveness */
}
.text_areaa p
{
    color: grey;
}

/* Media Query for Larger Screens */
@media screen and (min-width: 768px) {
    .img_boyaa {
        width: 30%; /* Take 50% width on larger screens */
        max-width: 40%;
    }

    .text_areaa {
        width: 60%; /* Take 50% width on larger screens */
        max-width: 70%;
    }

    .text_areaa h2 {
        font-size: 32px; /* Increase font size for larger screens */
    }
}
